html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;	
}

.clear {
	clear: both;
}

.clearfix::after {
	content: '';
	clear: both;
	display: block;
	height: 0;
}